// ! IMPORTACION DE LOS ARCHIVOS SASS
@import './globales/paletaColor';
@import './globales/paletaFuentes';
@import './basico/header';
@import './basico/footer';
@import './utilidades/footerAbajo';
@import './paginas/login';