/* ? GLOBALS */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    background-color: $blanco !important;
    margin: 0;
    padding: 0;
    position: relative;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

ul {
    list-style: none;
}

p {
    font-size: 1.7rem;
}

a {
    font-family: $primaria;
    text-decoration: none;
    color: $blanco;
}

a:hover {
    color: $blanco;
}

h1 {
    font-size: 7rem;
    font-weight: 600;
    text-transform: uppercase;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.5rem;
}

img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 10rem;
    min-height: 10rem;
}

/* ! FINISH GLOBALS---------------------------------- */

/* ? HEADER */
#header {
    position: relative;
    width: 100%;
    height: 70px;
    background-color: $negro;
    padding-bottom: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* ? MEDIA QUERY MD (tablets, 768px and up)*/
@media (min-width: 320px) and (max-width: 1024px) {
    #header {
        height: auto;
        flex-direction: column;
        padding: 0;
        text-align: center;
    }

    #header #nav ul li {
        display: flex;
        flex-direction: column;
        font-size: 15px !important;
        margin: 0;
    }

    #nav {
        margin: 0 !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    #logo {
        padding: 0 !important;
        text-align: center;
        width: 100% !important;
        margin: 15px 0 15px 0 !important;
    }

    #logo li {
        margin: 0 !important;
    }

    #list {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center;
        padding: 0 !important;
    }
}

#titulo {
    font-family: $cuarta !important;
}

#nav {
    height: auto;
    float: inline-start;
    background: transparent;
    margin: 0 auto;
    margin-right: 15px;
}

.invisible {
    opacity: 0;
}

#header #nav ul li {
    font-size: 17px;
    display: inline-block;
    margin-top: 17px;
    margin-left: 20px;
    letter-spacing: 1px;
    line-height: 70px;
}

#logo {
    left: 0;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
    overflow: hidden;
    transition: all 300ms;
    margin-top: 17px;
    margin-left: 20px;
}

#logo .log {
    display: block;
    float: left;
    font-size: 30px;
    margin-left: 26px;
    color: $blanco;
    text-transform: uppercase;
    font-weight: 700;
}

/* ? MEDIA QUERY XS (mobile devices)*/
@media (min-width: 320px) and (max-width: 480px) { 
    #logo .log {
        font-size: 15px;
        margin: 0;
    }
}

.menu {
    display: flex;
    justify-content: center;
    height: auto;
}

.menu li {
    margin-right: 70px;
}

.menu a {
    position: relative;
    display: block;
    overflow: hidden;
}

.menu a span {
    transition: transform 0.2s ease-out;
}

.menu a span:first-child {
    display: inline-block;
    padding: 10px;
}

.menu a span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
}

.menu i {
    font-size: 30px;
}

.menu a:hover span:first-child {
    transform: translateY(100%);
}

.menu a:hover span:last-child,
.menu[data-animation] a:hover span:last-child {
    transform: none;
}

/* ANIMATIONS */
.menu[data-animation="to-top"] a span:last-child {
    transform: translateY(100%);
}

.menu[data-animation="to-top"] a:hover span:first-child {
    transform: translateY(-100%);
}

.menu[data-animation="to-right"] a span:last-child {
    transform: translateX(-100%);
}

.menu[data-animation="to-right"] a:hover span:first-child {
    transform: translateX(100%);
}

.menu[data-animation="to-left"] a span:last-child {
    transform: translateX(100%);
}

.menu[data-animation="to-left"] a:hover span:first-child {
    transform: translateX(-100%);
}

#list [data-animation="to-top"] a span:last-child {
    transform: translateY(100%);
}

#list [data-animation="to-top"] a:hover span:first-child {
    transform: translateY(-100%);
}

#list [data-animation="to-right"] a span:last-child {
    transform: translateX(-100%);
}

#list [data-animation="to-right"] a:hover span:first-child {
    transform: translateX(100%);
}

#list [data-animation="to-left"] a span:last-child {
    transform: translateX(100%);
}

#list [data-animation="to-left"] a:hover span:first-child {
    transform: translateX(-100%);
}

.link {
    position: relative;
    display: inline-block;
}

.link::before, .link::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $cafe;
    transform: scaleX(0);
    transition: transform .25s;
}

.link::before {
    top: -3px;
    transform-origin: left;
}

.link::after {
    bottom: -3px;
    transform-origin: right;
}

.link:hover::before, .link:hover::after {
    transform: scaleX(1);
}

/* ! FINISH HEADER---------------------------------- */