/*CONTENEDOR PRINCIPAL*/
.container-fluid {
    min-height: 100vh;
    padding: 0;
}

.body {
    overflow-x: hidden;
}

/*FILA PRINCIPAL*/
.row {
    height: 100%;
} 

/*COLUMNA 01*/
.col-1 {
    height: auto !important;
    width: 40%;
    padding: 0;
    background-color: $cafeOscuro;
}

/*CONTAINER DEL LOGO*/
.container {
    padding: 0;
    display: flex;
    justify-content: center;
}

.registrate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.logo {
    max-width: 70%;
}

.registroA {
    color: $negro;
    font-weight: 300 !important;
}

.registroA:hover {
    color: $anaranjado;
}

/*COLUMNA 02*/
.col-2 {
    height: 100%;
    width: 60%;
    padding: 0;
}

/* Assign full width inputs*/ 
input[type=text], 
input[type=password] { 
    width: 100%; 
    padding: 8px 20px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
} 

.registro {
    font-weight: bolder;
    font-size: 16px;
}

@media (max-width: 768px) { /*para que no sirva para mayores de 768px de ancho*/
    .row {
        display: block;
    }

    .col-1 {
        width: 100%;
        height: 54%;
    }

    .col-2 {
        width: 100%;
        height: auto;
        margin: 0;
    }

}

@media (min-width: 769px) {
    .logo {
        max-width: 70%;
    }
}


@media screen and (min-width: 700px) and (max-width: 800px) { /*TABLET*/
    .logo {
        width: 40%;
    }
}

@media screen and (max-width: 700px){ /*CELULAR*/
    .logo {
        width: 47%;
    }
}

@media (min-height: 1050px) {
    .logo {
        margin-top: 100px;
    }
}

/*TITULO DE MERCA SUPER*/
.container-titulo {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
}

.merca {
    color: $blanco;
    font-weight: 700;
    font-size: 60px;
}

.super {
    color: $blanco;
    font-size: 100%;
    margin: 0 auto;
    font-weight: 350 !important;
    margin-left: 16px;
}

/*CONTENEDOR DEL FORMULARIO*/
.cont-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    margin: 0 auto;
}

.cont-titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.cont-form-cont {
    width: 65%;
    height: 50%;
    padding: 2%;
}

#x {
    display: flex;
    justify-content:left;
}

#entrarSistema {
    margin-top: 3px;
    width: 100%;
    background-color: $cafeOscuro;
    color: $blanco;
    font-weight: 500;
}

#entrarSistema:hover {
    background-color: $blanco;
    border: 1px solid $cafeOscuro;
    color: $cafeOscuro;
}

label {
    font-weight: 700;
}

h1 {
    font-weight: 700;
    margin-bottom: 6%;
}

.registrate {
    display: flex;
    justify-content: center;
}

#f {
    height: auto;
}

.contenedor_form {
    padding: 20%;
}

/*AJUSTES PARA BODY DE REGISTRO*/
#body {
    height: auto;
}

@media (min-height: 1050px) {
    #body {
        min-height: 920px;
    }
}